/**************** Font-family ****************/
.omf-topbar h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.omf-menu--note h3{
    font-family: 'Devonshire', cursive;
    font-weight: 300;
}

.omf-menu--note p{
    font-family: 'Itim', cursive;
    font-weight: 400;
}

.omf-menu--chic h3{
    font-family: 'Croissant One', cursive;
    font-weight: 400;
}

.omf-menu--chic p{
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
}

.omf-menu--delice h3{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

.omf-menu--delice p, .omf-menu--palette p{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
    font-style: italic;
}

.omf-menu--palette h3{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

