/**************** Font-family ****************/
.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.devonshire{
    font-family: 'Devonshire', cursive;
    font-weight: 300;
}

.itim{
    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: italic;
}

.portfolio-seo__container h3, .croissant_one, .letter-topletter, .letter-sender{
    font-family: 'Croissant One', cursive;
    font-weight: 400;
}

.dm_serif_text{
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
}

.dancing_script, .letter{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

.nanum_pen_script{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
    font-style: italic;
}

.kaushan_script{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

.lato{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.kalam{
    font-family: "kalam", sans-serif;
    font-weight: 400;
    ul li p:last-child, .omf-card__body__subtitle h3{
    font-weight: 700;
    }
}
.portfolio-topbar__nav h1, .portfolio-diapo p, .portfolio-seo h2, .portfolio-interface h2{
    font-family: 'Kalam', cursive;
}



.eater{
    font-family: 'Eater', cursive;
}

.special_elite{
    font-family: 'Special Elite', cursive;
}

.press_start{
    font-family: 'Press Start 2P', cursive;
}

.pinyon_script{
    font-family: 'Pinyon Script', cursive;
}

.fredericka{
    font-family: 'Fredericka the Great', cursive;
}

.cookie{
    font-family: 'Cookie', cursive;
}

.cabin_sketch{
    font-family: 'Cabin Sketch', cursive;
}

.rock_salt{
    font-family: 'Rock Salt', cursive;
}