.body{
    display: grid;
    grid-template-columns: repeat(3, 1fr); //nbr de colonnnes 
    grid-gap: 20px;
    /* @include tablet-only{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
    } */

    
}

/**************** Tête de la page ****************/
.body__topbar{
    background: $background-color;
    grid-column: 1/ span 3;
}
    .body__topbar h1{
        color: $primary-color;
        font-size: map-get($font-size, big);
        text-align: center;
        padding: 10px 0;
    }

    /**************** Corps de la page ****************/

.body__menu{
    grid-column: 1/ span 3;
    grid-row: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
    .body__menu--first{
        background: rgb(252, 223, 219);
        font-size: 32px;
    }
        .body__menu--first h3{
            color: rgb(60, 18, 24);
        }

        .body__menu--second h3{
            color: rgb(199, 116, 18);
        }
        
        .body__menu--third h3{
            color: rgb(8, 135, 251)
        }

        .body__menu--fourth h3{
            color: rgb(121, 196, 92)
        }
    

/**************** prochainement de la page ****************/

.body__next{
    background: $background-color;
    grid-column: 2/ span 1;
    border-radius: 5px;
    padding: 5px 20px;
}
    .body__next h2{
        color: $primary-color;
        font-size: map-get($font-size, medium);
        text-align: center;
    }

/**************** Pied de la page ****************/

.body__bottombar{
    background: $background-color;
    grid-column: 1/ span 3;
    display: flex;
    justify-content: space-between;
}
    .body__bottombar h2{
        margin: 5px;
        color: $primary-color;
        font-size: map-get($font-size, medium);
    }