/**** Couleur ****/

$background-color: rgb(87, 156, 135);
$primary-color: rgb(253, 203, 70); 

/**** Police ****/

$font-size:(
    big: 32px,
    medium: 16px,
    small: 12px
);





$breakpoints:(
    tablet: 700px,
    computer: 1000px
);