/**** Couleur ****/

$background-color: rgb(87, 156, 135);
$primary-color: rgb(253, 203, 70); 

/**** Police ****/

$font-size:(
    main_title: 3em,
    menu_title: 1.4em,
    menu_link: 2em
);



$breakpoints:(
    tablet: 700px,
    computer: 1000px
);