.portfolio-diapo{
    position: relative;
    @include tablet-computer{
        width: 95%;
        margin-left: 20px;
    }
    @include big_computer{
        margin: 0 auto;
        width: 70%;
        height: 780px;
    }
    border-radius: 20px;
    margin-top: 20px;
    img{
        margin-top: 20px;
        border-radius: 20px;
        box-shadow:2px 2px 2px gray,
        -1px -1px 2px white;
    }
    p{
        position: absolute;
        font-size: 1.2em;
        color:rgb(0, 100, 240);
        text-shadow: 2px 2px  rgb(0, 0, 0);
        
        @include tablet-computer{
            font-size: 2em;
        }
        @include big_computer{
            font-size: 3em;
        }
        @include bigbig_computer{
            font-size: 4em;
        }
    }
    &--bac p{
        bottom: 0;
        transform: translate(50%, -40%);
        @include big_computer{
            bottom: 200px;
            transform: translate(50%, -90%);
        }
        @include bigbig_computer{
            bottom: 0;
            transform: translate(50%, -40%);
        }
    }
    &--armee p{
        top: 14px;
        right: 10px;
        @include tablet-computer{
            top: 12px;
        }
        @include big_computer{
            top: 5px;
        }
    }
    &--golf{
        img{
            @include bigbig_computer{
            height: 780px;
            width: 100%;
            }
        }
        &__description{
            position: absolute;
            top: 60px;
            right: 10px;
            p{
                position: static;
                display: block;
            }
            @include tablet-computer{
                top: 120px;
                right: 30px;
            }
        }
    }
    &--dev{
        img{
            @include bigbig_computer{
            height: 780px;
            width: 100%;
            }
        }
        p{
            top: 20px;
            left: 0;
            transform: translate(5%, 20%);
        }
        
    }
    &__bottomSlide{
        display: flex;
        justify-content: space-between;
        img{
            width: 30%;
        }
    }
}


