.portfolio-interface__section__form{
    width: 80%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
    margin: auto;
    .form__grid{
        border-radius: 20px;
        display: grid;
        grid-gap: 20px;
        padding: 10px;
        grid-template-areas:    "nom" 
                                "prenom"
                                " age" 
                                "sex"
                                "mail"
                                "mdp"  
                                "confmdp"
                                "commentaire"
                                "confirmation";
        @include tablet-computer{
            grid-template-rows: repeat(6,50px);
            grid-template-columns: repeat(2,1fr);
            grid-template-areas:"nom prenom"
                                " age sex"
                                "mail ."
                                "mdp confmdp"
                                "commentaire commentaire"
                                "confirmation confirmation ";
        }
        
        &__champ{
            label{
                display: block;
                color: rgb(255, 255, 255);
                font-weight: 700;
                margin-bottom: 5px;
            }
            input, textarea{
                border: none;
                border-bottom: 1px solid rgb(255, 255, 255);
                background-color: transparent;
                outline: none;
                color: rgb(255, 255, 255);
            }

            &--nom{
                grid-area: nom;
            }
            &--prenom{
                grid-area: prenom;
            }
            &--age{
                grid-area: age;
            }
            &--sex{
                grid-area: sex;
            }
            &--mail{
                grid-area: mail;
            }
            &--commentaire{
                grid-area: commentaire;
            }
            &--mdp{
                grid-area: mdp;
            }
            &--confmdp{
                grid-area: confmdp;
            }
            &--confirmation{
                grid-area: confirmation;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    border: none;
                    border-radius: 20px;
                    font-size: 1em;
                    background-color: rgb(77, 5, 5);
                    padding: 10px 20px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: 700;
                    &:hover{
                        transform: scale(1.2);
                        color: rgb(1, 145, 42);
                        
                    }



                    /* 
                    font-size: 1em;
                    
                    padding: 5px;
                    margin: 5px;
                    @include tablet-computer{
                    padding: 20px;
                    border-radius: 20px;
                    margin: 10px;
                    transform: translate(0%,-30%); 
                    }*/
                }
            }
        }
    }
}