@charset "UTF-8";
/*utils : variables, fonctions, mixins et extensions */
/**** Couleur ****/
/**** Police ****/
/*base: fondations du site, police de cartères, les normes */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

* {
  box-sizing: border-box;
}

.omf {
  display: grid;
  grid-template-columns: 1px repeat(3, 1fr) 1px;
  grid-template-rows: auto repeat(4, 300px) repeat(2, auto);
  grid-gap: 20px;
}
@media only screen and (min-width: 700px) {
  .omf {
    grid-template-columns: 1px repeat(4, 1fr) 1px;
    grid-gap: 50px;
  }
}

/**************** Font-family ****************/
.omf-topbar h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.omf-menu--note h3 {
  font-family: "Devonshire", cursive;
  font-weight: 300;
}

.omf-menu--note p {
  font-family: "Itim", cursive;
  font-weight: 400;
}

.omf-menu--chic h3 {
  font-family: "Croissant One", cursive;
  font-weight: 400;
}

.omf-menu--chic p {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
}

.omf-menu--delice h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
}

.omf-menu--delice p, .omf-menu--palette p {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: italic;
}

.omf-menu--palette h3 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
}

/*Components: composants */
/*Layout : blocs bem réutilisable*/
/**************** Tête de la page ****************/
.omf-topbar {
  background: #579c87;
  grid-column: 1/span 5;
}
.omf-topbar h1 {
  color: #fdcb46;
  font-size: 3em;
  text-align: center;
  padding: 20px 0;
}
@media only screen and (min-width: 700px) {
  .omf-topbar {
    grid-column: 1/span 6;
  }
}

/**************** Corps de la page ****************/
.omf-menu {
  grid-column: 2/span 3;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(175, 175, 175, 0.7);
}
.omf-menu h3 {
  font-size: 1.4em;
  padding-bottom: 10px;
  text-align: center;
}
.omf-menu p {
  font-size: 2em;
}
.omf-menu--note {
  background: #fcdfdb;
}
.omf-menu--note p {
  color: #3c1218;
  text-transform: uppercase;
}
.omf-menu--note .menu__icon {
  background-clip: text;
  background-image: linear-gradient(0.25turn, #f15861, #f78f6a);
  font-size: 2em;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (min-width: 700px) {
  .omf-menu--note {
    grid-column: 2/span 2;
  }
}
.omf-menu--chic {
  background: #fff5fe;
}
.omf-menu--chic h3 {
  background-clip: text;
  background-image: linear-gradient(0.25turn, #d8852e, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.omf-menu--chic p {
  color: #c77412;
}
@media only screen and (min-width: 700px) {
  .omf-menu--chic {
    grid-column: 4/span 2;
  }
}
.omf-menu--delice {
  background: #f9f9f9;
}
.omf-menu--delice h3 {
  background-clip: text;
  background-image: linear-gradient(0.25turn, #2140df, #1789f9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.omf-menu--delice p {
  color: #0887fb;
}
@media only screen and (min-width: 700px) {
  .omf-menu--delice {
    grid-column: 2/span 2;
  }
}
.omf-menu--palette {
  background: #f9f9f9;
}
.omf-menu--palette h3 {
  background-clip: text;
  background-image: linear-gradient(0.25turn, #42973c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.omf-menu--palette p {
  color: #79c45c;
}
@media only screen and (min-width: 700px) {
  .omf-menu--palette {
    grid-column: 4/span 2;
  }
}

/**************** prochainement de la page ****************/
.omf-next {
  background: #579c87;
  grid-column: 3/span 1;
  border-radius: 5px;
  padding: 5px 20px;
}
.omf-next h2 {
  color: #fdcb46;
  font-size: 30px;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .omf-next {
    grid-column: 3/span 2;
  }
}

/**************** Pied de la page ****************/
.omf-bottombar {
  background: #579c87;
  grid-column: 1/span 5;
  display: flex;
  justify-content: space-between;
}
.omf-bottombar h2 {
  margin: 5px;
  color: #fdcb46;
}
@media only screen and (min-width: 700px) {
  .omf-bottombar {
    grid-column: 1/span 6;
  }
}

/*Pages: blocs ne s'appliquant qu'à une seule page */

/*# sourceMappingURL=style.css.map */
