/**************** Tête de la page ****************/
.omf-topbar{
    grid-row: omf-topbar;
    grid-column: 1;
    background: $background-color;
    h1{
        color: $primary-color;
        font-size: map-get($font-size, topbar_title);
        text-align: center;
        padding: 20px 0;
    } 
}